@media screen and (max-width: 640px) {    
body {
    margin: 0px;
    
}
main {
    .home {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }

    .function {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            width: 85%;
        }
      
       &-card-list {
            display: flex;
            height: 5rem;
            width: 90%;
            align-items: inherit;
            background-color: #f7f7f7;
            border-radius: 20px;
            margin-bottom: 1rem;
        &::before {
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: #9356dc;
            height: 2rem;
            width: 2rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
            
        i {
            padding: 1em;
        }

        }
        
        }
        }
    

    .restaurants {
        background-color: #f7f7f7;
     
        &-list { 
        display: flex;
        flex-direction: column;
        align-items: center;

        &-card {
            width: 90%;
            margin: 20px;
            border-radius: 12px;
            background-color: white;
            height: 15rem;
        &-new {
            position: absolute;
            right: 1em;
            background-color: #99E2D0;
            margin: 10px 20px 0px 0px;
        }
        
        &-img {
            width: 100%;
            height: 11rem;
            border-radius: 12px 12px 0px 0px;
            object-fit: cover;
        }

        &-text {
            margin: 5px 0px 0px 20px;
        }

        &-place {
            margin: 5px 0px 0px 20px;
        }
        
        }
    }
    }
}

        
    


