   
body {
    margin: 0px;
    
}
//MENU
main {
    .home {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }
//FUNCTIONNING

    .function {
        display: flex;
        flex-direction: column;
        align-items: center;
   
       &-card-list {
            display: flex;
            height: 5rem;
            width: 85%;
            align-items: inherit;
            background-color: #f7f7f7;
            border-radius: 20px;
            margin-bottom: 1rem;
            box-shadow: -2px -5px 11px 0px #dcdcdc;
            transition-duration: 400ms;
            cursor: pointer;
        &-order {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9356DC;
            border-radius: 50%;
            font-size: 25px;
            padding: 5px;
            color: #FFF;
            width: 1em;
            height: 1em;
            transform: translate(-15px);
        }
        &:hover {
            transform: scale(1.04);
            background-color: #9356DC21;
        i {
            color: #9356DC;
        }
        }
    
        &:last-child {
            background-color: #9356DC21;
        .fa-store {
            color: #9356DC;
        }
        }
            
        i {
            padding: 1em;

        }
     
        }
        
    }
   
    }
    
//RESTAURANTS
    .restaurants {
        background-color: #f7f7f7;
     &-title {
            width: 90%;
            margin-left: 10px;
        }
        &-list { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        

        &-card {
            width: 44%;
            margin: 20px;
            border-radius: 12px;
            background-color: white;
            height: 16rem;
        &-new {
            position: absolute;
            background-color: #99E2D0;
            margin: 10px 20px 0px 0px;
            color: #3CB371;
            font-size: 1.2rem;
            font-weight: bolder;
            width: 4.5em;
            text-align: center;
        }
        
        &-img {
            width: 100%;
            height: 11rem;
            border-radius: 12px 12px 0px 0px;
            object-fit: cover;
        }

        &-text {
            margin: 5px 0px 0px 10px;
        }
        &-subtitle {
            display: flex;
            justify-content: space-between;
            margin-right: 1em;
        .fa-heart {
            font-size: 30px;
            margin-top: -0.5em;
            transition-duration: 500ms;
        &:hover {
            transform: scale(1.4);
            background: linear-gradient( #FF79DA28,#FF79DA);
            
        }
        }
        }
        &-place {
            margin: 5px 0px 0px 20px;
        }
        
        }
    }
}    
//RESPONSIVE

       



        
    


