   
body {
    margin: 0px;
    
}

//MENU
main {
    .home {
        background-color: $bg-grey;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
//FUNCTIONNING

    .function {
        display: flex;
        flex-direction: column;
        align-items: center;
   
       &-card-list {
            display: flex;
            height: 65px;
            width: 90%;
            align-items: inherit;
            background-color: $bg-grey;
            border-radius: 20px;
            margin-bottom: 20px;
            margin-left: 12px;
            box-shadow: 0px 4px 8px #d0d0d0;
            transition-duration: 400ms;
            cursor: pointer;
        &-title{
            font-weight: 500;
        }
        &-order {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            border-radius: 50%;
            font-size: 15px;
            padding: 3px;
            color: $white;
            width: 20px;
            height: 20px;
            transform: translate(-15px);
        }
        &:hover {
            transform: scale(1.04);
            background-color: #F3ECF7;
        }
        i {
            color: $color-primary;
            padding: 20px;
        }
        
    
        &:last-child {
            background-color: #F3ECF7;
        .fa-store {
            color: $color-primary;
        }
        }
     
        }
        
    }
   
    }
    
//RESTAURANTS
    .restaurants {
        background-color: $bg-grey;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 50px;
     &-title {
            width: 90%;
            margin-left: 10px;
        }
        &-card { 
         width: 35%;
            margin: 20px;
            border-radius: 12px;
            background-color: $white;
           

        &-new {
            position: absolute;
            background-color: $color-tertiary;
            margin: 15px 25px 0px 0px;
            color: #299666;
            font-size: 15px;
            width: 80px;
            height: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &-img {
            width: 100%;
            height: 180px;
            border-radius: 12px 12px 0px 0px;
            object-fit: cover;
        }
        &-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            h3,p{
                margin: 5px;
            }
        }
    
    }
}
        
    
    

    
  

       



        
    


