.restaurant-picture {
  
    width: 100%;
    margin-top: 10px;
    height: 450px;
    object-fit: cover;

}

.page {
    position: relative;
    background-color: $bg-grey;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: -100px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px 15px 30px;
    
    }  
    .menu {
        width: 100%;

    &-title {
        position: relative;
        font-weight: 100;
        margin-left: 15px;
    &::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 9%;
        height: 4px;
        background-color: $color-tertiary;
    }
    }

    &-plate {
        background: $white;
        border-radius: 20px;
        width: 90%;
        margin: 10px 0px 20px 8px;
        padding: 15px 5px 15px 10px;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 8px #d0d0d0;
        cursor: pointer;
        overflow: hidden;
    &-content{
        width: 100%;
        max-width: 100%;
        transform-origin: left;

    h3{
        margin: 0;
    }
    p{
        margin: 0;
    }
    }  
    &-price{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px 18px;
        font-weight: 700;
    }
         
&-validate{
    background-color: $color-tertiary;
    width: 50px;
    height: 75px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    right: 0px;
    transform: scale(0);
    transform-origin: right;

   
    .fa-check-circle{
        color: $white;
        font-size: 30px;
    }   
    
  }      
}   
    
   }
    
}
.order {
    display: flex;
    justify-content: center;
    padding: 0em 0em 1em;
.btn {
    text-align: center;
}
}


