.restaurant-picture {
  width: 100%;
  margin-top: 10px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  position: relative;
  background-color: #f7f7f7;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  margin-top: -100px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.page .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 15px 30px;
}
.page .menu {
  padding: 1em 1em 1em 0.5em;
}
.page .menu-title {
  position: relative;
  font-weight: 400;
  margin-left: 15px;
}
.page .menu-title::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 9%;
  height: 4px;
  background-color: #99E2D0;
}
.page .menu-plate {
  background: #fff;
  border-radius: 2em;
  width: 97%;
  margin-bottom: 20px;
  padding: 0px 5px 0px 13px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px #d0d0d0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.page .menu-plate-validate {
  background-color: #99E2D0;
  width: 100px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0em 2em 2em 0em;
  position: absolute;
  right: -100px;
}
.page .menu-plate-validate .fa-check-circle {
  color: #fff;
  font-size: 30px;
}
.page .menu-plate:hover .menu-plate-validate {
  opacity: 1;
  right: 0px;
  transition: 1s ease-in-out;
  z-index: 2;
}
.page .menu-plate:hover .menu-plate-validate .fa-check-circle {
  -webkit-animation: rotate 1s ease-in-out;
          animation: rotate 1s ease-in-out;
}
.page .menu-plate-content {
  width: 100%;
  position: relative;
  transition: 0.8s ease-in-out;
}
.page .menu-plate-content:hover {
  width: calc(100% - 100px);
  transition: 0.7s ease-in-out;
}
.page .menu-plate-content-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.page .order {
  display: flex;
  justify-content: center;
  padding: 0em 0em 1em;
}
.page .order .btn {
  text-align: center;
}

body {
  font-family: "roboto";
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "shrikhand";
  font-size: 25px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}

p {
  font-size: 17px;
}

.header {
  background-color: #fff;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.header__logo {
  height: 2.5rem;
  margin-top: 30px;
}
.header .fa-arrow-left {
  position: absolute;
  left: 0.5em;
  top: 1.1em;
  font-size: 20px;
}

.section__location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #DCDCDC;
}
.section__location-input {
  margin-left: 20px;
}

body {
  margin: 0px;
}

main .home {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
main .function {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .function-card-list {
  display: flex;
  height: 5rem;
  width: 85%;
  align-items: inherit;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: -2px -5px 11px 0px #d0d0d0;
  transition-duration: 400ms;
  cursor: pointer;
}
main .function-card-list-order {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 25px;
  padding: 5px;
  color: #fff;
  width: 1em;
  height: 1em;
  transform: translate(-15px);
}
main .function-card-list:hover {
  transform: scale(1.04);
  background-color: #F3ECF7;
}
main .function-card-list:hover i {
  color: #9356DC;
}
main .function-card-list:last-child {
  background-color: #F3ECF7;
}
main .function-card-list:last-child .fa-store {
  color: #9356DC;
}
main .function-card-list i {
  padding: 20px;
}

.restaurants {
  background-color: #f7f7f7;
}
.restaurants-title {
  width: 90%;
  margin-left: 10px;
}
.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurants-list-card {
  width: 44%;
  margin: 20px;
  border-radius: 12px;
  background-color: #fff;
  height: 250px;
}
.restaurants-list-card-new {
  position: absolute;
  background-color: #99E2D0;
  margin: 10px 20px 0px 0px;
  color: #3CB371;
  font-size: 20px;
  font-weight: bolder;
  width: 100px;
  text-align: center;
}
.restaurants-list-card-img {
  width: 100%;
  height: 180px;
  border-radius: 12px 12px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-list-card-text {
  margin: 5px 0px 0px 10px;
}
.restaurants-list-card-subtitle {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  margin-left: 1em;
}
.restaurants-list-card-subtitle-place {
  margin: 5px 0px 0px 20px;
}

.btn {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.38);
  padding: 20px;
  color: #fff;
  font-family: "Roboto";
  text-decoration: none;
  border-radius: 50px;
  transition: 500ms;
  width: 70%;
  margin: auto;
}
.btn:hover {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 1px 11px 14px 0px rgba(109, 109, 109, 0.699);
}

.btn-heart .fa-heart {
  font-size: 30px;
}
.btn-heart .fa-heart:hover {
  font-weight: 900;
  transform: scale(1.3);
  background: -webkit-linear-gradient(13deg, #9356DC 0%, #FF79DA 66%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 2em;
}
.footer__logo {
  filter: invert(1);
  padding: 5px;
}
.footer a {
  color: #fff;
}

@media screen and (max-width: 650px) {
  .function-title {
    width: 90%;
  }
  .restaurants {
    width: 100%;
  }
  .restaurants-list-card {
    width: 95%;
    margin: 10px;
  }
  .restaurants-list-card-new {
    right: 1em;
  }
  .page .menu-plate-validate {
    width: 15%;
  }
  h3 {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 650px) {
  .btn {
    width: 50%;
  }
  .restaurants-list {
    display: flex;
    justify-content: space-evenly;
  }
  .restaurants-list-card {
    width: 35%;
    height: 300px;
  }
  .restaurants-list-card-img {
    height: 230px;
  }
  .restaurants-title {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .btn {
    width: 30%;
  }
  main .function {
    width: 50%;
    margin: auto;
  }
  main .function-card-list-title {
    margin: auto;
  }
  .page .section-header {
    padding: 30px 50px 15px 50px;
  }
}
.section {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  color: #FF79DA;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: time 5s forwards;
          animation: time 5s forwards;
}

.loader-circles {
  position: relative;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 2em solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.loader-circles:after {
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  border: 1.7em solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
.loader-circles:before {
  content: "";
  width: 9em;
  height: 9em;
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  border: 1.5em solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes time {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes time {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
.menu-plate {
  -webkit-animation: FadeIn 1s linear;
          animation: FadeIn 1s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-plate:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu-plate:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.menu-plate:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */