@media screen and(max-width:650px) {
    .function {
    &-title {
        width: 90%;
    }
    }
    .restaurants {
        width: 100%;
    &-card {
        width: 90%;
        margin: 10px;
        &-new {
            right: 10px;
        }
    }
    }

    .menu-plate-content{
        h3 , p{
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

}
}
   
@media (min-width: 650px){
    .btn {
    width: 50%;
    }
    main .function-card-list{
        width: 50%;
    }
.restaurants-title{
    width: 80%;
}   
.restaurants-card-img{
    height: 230px;
}
.page{
    padding-left: 30px;
}
}

@media (min-width: 992px){   
    .btn {
  width: 30%;
    }
main .function {
   width: 60%;
   margin: auto;
   
    &-card-list-title{
        margin-left: 50px;
    }
   
}
.page{
    padding-left: 35px;
}
.page .section-header{
    padding: 30px 50px 15px 50px;
}

}