
.footer {
    background-color: #353535;
    color: $white;
    padding: 2em;
    &__logo {
        filter: invert(1);
        padding-bottom: 15px;
        width: 100px;
        height: 30px
    }
    &-link , &-link2{
        display: flex;
        align-items: center;
        margin-top: -15px;

    .fa-utensils, .fa-handshake {
        padding-right: 10px;
    }   
    &-title{
        margin-top: 2px

    }
    }
    a {
        color: $white;
   
    }
}
