@media screen and (max-width: 640px) { 
.header {
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    &__logo {
        height: 2.5rem;
        margin-top: 30px;
    }
}
}