
.header {
    background-color: $white;
    height: 4rem;
    display: flex;
    justify-content: center;
    &__logo {
        height: 2.5rem;
        margin-top: 30px;
    }
    .fa-arrow-left {
        position: absolute;
        left: 0.5em;
        top: 1.1em;
        font-size: 20px;
        
    }
}
