
// LOADER SPINNER
.section {
    background-color: $bg-grey;
    height: 100%;
    width: 100%;
    color: $color-secondary;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: time 5s forwards;
}

.loader-circles {
    position: relative;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: 2em solid transparent;
    border-top-color: $color-primary;
    animation: spin 2s linear infinite;

    &:after{
        content:"";
        position: absolute;
        width: 10em;
        height: 10em;
        top: 15px; left: 15px; bottom: 15px; right: 15px;
        border-radius: 50%;
        border: 1.7em solid transparent;
        border-top-color: $color-secondary;
        animation: spin 3s linear infinite;
    }
    &:before{
        content:"";
        width: 9em;
        height: 9em;
        position: absolute;
        top: 30px; left: 30px; bottom: 30px; right: 30px;
        border-radius: 50%;
        border: 1.5em solid transparent;
        border-top-color: $color-tertiary;
        animation: spin 6s linear infinite;
    }

}
@keyframes spin{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}
@keyframes time {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      visibility: hidden;
    }
  }


//ANIMATION MENU
.menu-plate {
  animation: FadeIn 1s linear;
  animation-fill-mode: both;
    &:nth-child(1) { animation-delay: .5s }
    &:nth-child(2) { animation-delay: 1s }
    &:nth-child(3) { animation-delay: 1.5s }
}     
@keyframes FadeIn {
  0%{
    opacity: 0;
    transform: scale(0.1);
  }
  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

//VALIDATION ROTATION

@keyframes rotate {
  0% {
    transform: rotate(0deg);
}

100% {
    transform: rotate(360deg);
}
}

//VALIDATION SLIDE

@keyframes appear {
  from {
    transform: scaleX(0);   
  }
to {
    transform: scaleX(1);
  }
}
.menu-plate:hover .menu-plate-validate{
  animation: appear 500ms linear both;


  .fa-check-circle{
      animation: rotate 500ms linear;
    }
  }

.menu-plate:hover .menu-plate-price{
 padding-right: 90px;

}
//ANIMATION HEART 
@keyframes bgheart{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 30%;
  }
  50%{
    opacity: 50%;
  }
  80%{
      opacity: 80%
    }
  100%{
    opacity: 100%;
  }
  }


